.block{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    .highlight {
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        height: 4rem;
        border-radius: 1rem 1rem 0 0;

        img {
            margin-top: -1rem;
            margin-right: 1rem;
        }
    }

    .content {
        background-color: var(--dark-blue);
        width: 100%;
        margin-top: -1.25rem;
        padding: .5rem 1.5rem;
        border-radius: 1rem;

        &:hover {
            background-color: var(--desatured-blue);
            cursor: pointer;
        }

        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h2{
                margin: 1rem 0 .5rem 0;
                font-size: 1em;
                font-weight: 500;
            }
            
            button {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }
        }

        .hours {
            font-size: 3rem;
            font-weight: 300;
            margin: 1rem 0 .5rem 0;
        }

        .last-hours {
            color: var(--pale-blue);
            margin-top: .5rem;
            margin-bottom: 1.5rem;
            font-size: .875em;
            font-weight: 400;
        }
    }
}