@media (max-width: 1300px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 1100px) {
    main .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    main .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    #country-info {
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
    }

    #country-info img {
        margin-bottom: 1rem;
    }
    
    #country-info #border {
        margin-top: -.5rem;
    }
}

@media (max-width: 600px) {
    main .grid, #country-info .grid {
        grid-template-columns: 1fr;
    }

    main .inputs input {
        width: 50%;
    }
}

@media (max-width: 500px) {
    main .inputs {
        flex-direction: column;
    }

    main .inputs input {
        width: 100%;
    }

    main .inputs select {
        width: fit-content;
        margin-top: 1rem;
    }
}