.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 68rem;

    > * {
        background-color: var(--dark-blue);
    }

    header {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
}