.btn {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    padding: .5rem 0;
    border-radius: .375rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: var(--white);
    background-color: var(--verydark-gray-cyan);

    cursor: pointer;

    &.active {
        background-color: var(--strong-cyan);
        color: var(--verydark-gray-cyan);
    }

    &:disabled {
        background-color: var(--dark-gray-cyan);
        cursor: auto;
    }

    &:hover:enabled {
        background-color: var(--light-cyan);
    }

    &:hover:not(.active):enabled {
        color: var(--verydark-gray-cyan);
    }
}

input {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    border: none;
    outline: 2.5px solid transparent;
    transition: outline 0.375s linear;
    padding: .5rem;
    border-radius: .375rem;
    background-color: var(--light-gray-cyan);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    &:active, &:hover {
        outline: 2.5px solid var(--strong-cyan);
    }

    &:not(:placeholder-shown) {
        text-align: right;
    }

    &:invalid {
        outline: 2.5px solid #FF5E5B;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60rem;
    margin: auto;

    >img {
        margin: 4rem 0;
    }

    .content {
        width: 95%;
        display: flex;
        justify-content: space-between;
        background-color: var(--white);
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        #left-side,
        #right-side {
            width: 48%;
        }

        #left-side {
            display: flex;
            flex-direction: column;

            label {
                font-size: 1.125rem;
                font-weight: 700;
                color: var(--verydark-gray-cyan);
                margin-bottom: .5rem;
            }

            > div, > input:not(:last-child) {
                margin-bottom: 2rem;
            }

            > input:last-child {
                margin-bottom: 1rem;
            }

            .buttons {
                display: grid;
                grid-template: repeat(2, 1fr) / repeat(3, 1fr);
                grid-gap: 1rem;
            }

            #bill-input, #people-input {
                text-align: right;
            }

            #bill-input {
                background: url('./images/icon-dollar.svg') no-repeat scroll 1.25rem 1rem;
                background-color: var(--light-gray-cyan);
            }

            #people-input {
                background: url('./images/icon-person.svg') no-repeat scroll 1.25rem 1rem;
                background-color: var(--light-gray-cyan);
            }
        }

        #right-side {
            display: flex;
            flex-direction: column;
            background-color: var(--verydark-gray-cyan);
            color: var(--white);
            padding: 2rem 2.5rem;
            border-radius: 1rem;

            .amount-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0;

                >div {
                    h2 {
                        font-size: 1.125rem;
                        margin: 0;
                    }

                    p {
                        font-size: 1rem;
                        color: var(--dark-gray-cyan);
                        margin: 0;
                    }
                }

                .value {
                    font-size: 2.5rem;
                    font-weight: 700;
                    color: var(--strong-cyan);
                    margin: 0;
                }
            }

            .btn {
                margin-top: auto;
            }

        }
    }
}