@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --blue: hsl(233, 26%, 24%);
  --green: hsl(136, 65%, 51%);
  --cyan: hsl(192, 70%, 51%);
  --gray: hsl(233, 8%, 62%);
  --light-gray: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  color: var(--gray);
  font-weight: 400;
  font-family: 'Public Sans', sans-serif;
  letter-spacing: -0.25px;
  transition: all 0.25s ease-in-out;
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

body {
  margin: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: var(--blue);
}

section {
  padding: 5rem 0;
}