:root {
    --white: hsl(0, 0%, 100%);
    --cyan: hsl(178, 100%, 50%);
    --soft-blue: hsl(215, 51%, 70%);
    --line-blue: hsl(215, 32%, 27%);
    --card-blue: hsl(216, 50%, 16%);
    --main-blue: hsl(217, 54%, 11%);
}

/* general styling */
* {
    font-family: 'Outfit', sans-serif;
    color: var(--white);
    transition: all 0.25s ease-in-out;
}

body {
    font-size: 1.125rem;
    background-color: var(--main-blue);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    background-color: var(--line-blue);
    height: 1px;
    border: 0;
}

a {
    text-decoration: none;
}

a:hover{
    color: var(--cyan);
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* card styling */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--card-blue);
    max-width: 20rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.card-img {
    width: 100%;
    border-radius: .5rem;
}

.card h2 {
    width: 100%;
    margin: 1.125rem 0 0 0;
    font-size: 1.5rem;
}

.card p {
    color: var(--soft-blue);
    font-weight: 300;
}

.card > p {
    margin-bottom: .5rem;
} 

/* details styling */
.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.details p {
    font-weight: 400;
}

.price img {
    width: .875rem;
    margin-right: .5rem;
}

.price p {
    color: var(--cyan);
}

.time img {
    width: 1.25rem;
    margin-right: .5rem;
}

/* author styling */
.author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.author-img {
    width: 2.5rem;
    margin-right: 1rem;
}